[data-animation="slideInOutLeft"] .modal-dialog {
    opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
    opacity: 1;
}

.material-icons-round {
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.loop-circular-action-button {
	border-color: #f2f4f4;
	background-color: #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.loop-circular-action-button:hover {
	background-color: #e0e5e6;
}

.the-circle {
	cursor: inherit;
	padding: 0;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	border-style: solid;
	border-width: 1px;
	display: grid;
	justify-items: center;
	align-items: center;
}

.tgm-default-theme ::selection {
	background: #e0e5e6;
}