<app-widget id="locations" title="Location ranking:" scrollable="true">
    
    <div class="widget-content-inner">
        <div *ngFor="let location of locations;">
            <div class='location' [ngClass]="{'selected-location': location.id == selectedLocation}" (click)='onLocationClicked(location.id)'>
                <div class="location-info">
                    <span class="location-id"> Marker {{ location.id }} </span>
                    <span class="location-name"> {{ location.name }} </span>
                </div>
                <progress-circle [value]="location.scores.combined_score"></progress-circle>
                <br>
            </div>
        </div>
    </div>
</app-widget>
