<app-widget id="locations" title="Location ranking:" scrollable="true">
    
    <div class="widget-content-inner">
        <div *ngFor="let location of locations;">
            <div class='location' [ngClass]="{'selected-location': location.id == selectedLocation}" (click)='onLocationClicked(location.id)'>
                <div class="location-info">
                    <span class="location-id"> Marker {{ location.id }} </span>
                    <span class="location-name"> {{ location.name }} </span>
                </div>
                <div [ngStyle]="{'background': 'conic-gradient(' + (location.scores.combined_score < .4 ? '#e74c3c' : location.scores.combined_score < .6 ? '#f1c40f' : '#27ae60') + ' ' + location.scores.combined_score*100 +'%, transparent 0 100%)'}" class="rating" [ngClass]="{'meh': location.scores.combined_score < .6 && location.scores.combined_score >= .4, 'bad': location.scores.combined_score < .4, 'good': location.scores.combined_score >= .6}">
                    <span>{{ location.scores.combined_score*100 | number:'1.0-0' }}</span>
                </div>
                <br>
            </div>
        </div>
    </div>
</app-widget>
