.title {
    margin-top: 1rem;
    font-weight: bold;
}

#delete-icon {
	color: #222;
	cursor: pointer;
	float: right;
	position: relative;
	bottom: 40px;
    left: 7px
}

#delete-icon:hover {
	color: red
}