
#delete-icon {
	color: #222;
	cursor: pointer;
	float: right;
	position: relative;
	bottom: 40px;
    left: 7px
}

#delete-icon:hover {
	color: red
}

th {
	white-space: nowrap;
}

.row-title {
	font-weight: bold;
}

.score {
	text-align: right;
	padding-right: 1rem;
}

.progress-container {
	display: table-row;
}