<app-widget id="details" title="{{location.name}}" *ngIf="location">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>No. of nearby POI</th>
                <th>Score</th>
            </tr>
        </thead>
        <tr *ngFor="let poiType of this.clientOption.selectedPoiTypes">
            <td class="row-title">{{ poiType.name }}:</td>
            <!-- Groups -->
            <td class="score" *ngIf="poiType.contents">{{ this.location.scores['group-'+poiType.id] }}</td>
            <td class="progress-container" *ngIf="poiType.contents"><progress-circle [value]="this.location.scores['group-'+poiType.id+'-normalized']"></progress-circle></td>
            <!-- Tags -->
            <td class="score" *ngIf="!poiType.contents">{{ this.location.scores[poiType.key+'-'+poiType.value] }}</td>
            <td class="progress-container" *ngIf="!poiType.contents"><progress-circle [value]="this.location.scores[poiType.key+'-'+poiType.value+'-normalized']"></progress-circle></td>
        </tr>
        <tr class="total-row">
            <td class="row-title">Total:</td>
            <td></td>
            <td class="progress-container"><progress-circle [value]="location.scores.combined_score"></progress-circle></td>
        </tr>
    </table>
</app-widget>