
#delete-icon {
	color: #222;
	cursor: pointer;
	float: right;
	position: relative;
	bottom: 40px;
    left: 7px
}

#delete-icon:hover {
	color: red
}

progress-circle ::ng-deep div {
	position: relative;
	bottom: 2.5rem;
	left: 1rem
}

th {
	white-space: nowrap;
}

table {
	border-spacing: 1rem;
}