<app-widget id="details" title="{{location.name}}" *ngIf="location">

    <table>
        <thead>
            <tr>
                <th></th>
                <th>No. of nearby POI</th>
                <th>Score</th>
            </tr>
        </thead>
        <tr *ngFor="let POIType of this.quality.selectedPOITypes">
            <td class="row-title">{{ POIType.name }}:</td>
            <td class="score">{{ this.location.scores[POIType.id] }}</td>
            <td class="progress-container"><progress-circle [value]="this.location.scores[POIType.id+'-normalized']"></progress-circle></td>
        </tr>
        <tr class="total-row">
            <td class="row-title">Total:</td>
            <td></td>
            <td class="progress-container"><progress-circle [value]="location.scores.combined_score"></progress-circle></td>
        </tr>
    </table>
</app-widget>