
.standard-button {
    width: 90px;
    float: right;
}

.popup-title {
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-size: small;
    display: inline-grid;
    font: 13px "Roboto"
}

.popup-content {
    display: flex;
    height: 32px;
    min-width: 300px;
}

.mat-icon {
    margin-top: auto;
    margin-bottom: auto;
}