
.standard-button {
    border-radius: 0.5rem;
    width: 90px;
    height: 32px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    background-color: var(--selected) !important;
    float:right;
    color: white;
    border: none;
    margin-right: 0;
    margin-left: auto;
}

.popup-title {
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-size: small;
    display: inline-grid;
    font: 13px "Roboto"
}
.standard-button:hover {
    background-color: #ddd !important;
    color: var(--selected);
    cursor: pointer;
}

.popup-content {
    display: flex;
    height: 32px;
    min-width: 300px;
}

.mat-icon {
    margin-top: auto;
    margin-bottom: auto;
}