<div class="tgm-simple-button ng-star-inserted">
    <button matripple="" class="mat-ripple travel-mode-btn" [ngClass]="{'selected-button': isSelected()}" (click)="onClick()">
        <div class="button-inner">
            <mat-icon role="img" class="mat-icon notranslate material-icons-round mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">{{ iconName }}</mat-icon>
        </div>
    </button>
    <div class="label ng-star-inserted"><span tgm-label="">{{ name }}</span></div>
</div>