.poi-description {
    margin-bottom: 1rem;
}

.mat-expansion-panel-header.mat-expanded {
	height: 48px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: var(--selected) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--selected);;
}

.group-title {
    padding-left: 1rem;
}