<mat-accordion>
    <div *ngFor="let poi of poiList; let parentIndex = index">
        <div *ngIf="poi.type == 'TAG'">
            <span>
                <mat-checkbox (change)="onClick($event, poi.id)">{{ poi.name }}</mat-checkbox><!-- single -->
            </span>
        </div>
        <mat-expansion-panel *ngIf="poi.type != 'TAG'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="group-title">{{ poi.name }}</span><!-- group -->
                </mat-panel-title>
            </mat-expansion-panel-header>
            <poi-accordion [poiList]='poi.contents'></poi-accordion>
        </mat-expansion-panel>
    </div>
</mat-accordion>