<div id="loading-label" [@openClose]="isOpen ? 'open' : 'closed'">
    <mat-progress-spinner role="progressbar" tabindex="-1" diameter="14" mode="indeterminate" class="mat-progress-spinner mat-primary mat-progress-spinner-indeterminate-animation">
        <svg preserveAspectRatio="xMidYMid meet" focusable="false" aria-hidden="true" style="width: 14px; height: 14px;" viewBox="0 0 5.4 5.4">
            <circle cx="50%" cy="50%" style="animation-name: mat-progress-spinner-stroke-rotate-14; stroke-dasharray: 12.5664px; stroke-width: 10%;" r="2" class="ng-star-inserted"></circle>
        </svg>
    </mat-progress-spinner>
    <span>Loading scores...</span>
</div>