
<div class="modal" id="modal-settings">
    <div class="modal-dialog">
        <header class="modal-header">
            Settings
            <button class="close-modal" aria-label="close modal" data-close>✕</button>
        </header>



        <div _ngcontent-xcd-c127="" _nghost-xcd-c99="" class="ng-star-inserted tgm-traveltype-select" style="">
            <div _ngcontent-xcd-c99="" class="loop-overlay-individual-select ng-star-inserted">
            <div class="tgm-simple-button active">
                <button _ngcontent-xcd-c67="" matripple="" class="mat-ripple travel-mode-btn selected-button" (click)="changeTravelMode(this, 'walk')">
                    <div _ngcontent-xcd-c67="" class="button-inner">
                        <mat-icon _ngcontent-xcd-c99="" role="img" class="mat-icon notranslate material-icons-round mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">directions_walk</mat-icon>
                    </div>
                </button>
                <div _ngcontent-xcd-c67="" class="label ng-star-inserted"><span _ngcontent-xcd-c99="" tgm-label="">Walk</span></div>
            </div>
            <div class="tgm-simple-button ng-star-inserted">
                <button _ngcontent-xcd-c67="" matripple="" class="mat-ripple travel-mode-btn" (click)="changeTravelMode(this, 'bike')">
                    <div _ngcontent-xcd-c67="" class="button-inner">
                        <mat-icon _ngcontent-xcd-c99="" role="img" class="mat-icon notranslate material-icons-round mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">directions_bike</mat-icon>
                    </div>
                </button>
                <div _ngcontent-xcd-c67="" class="label ng-star-inserted"><span _ngcontent-xcd-c99="" tgm-label="">Bike</span></div>
            </div>
            <div class="tgm-simple-button ng-star-inserted">
                <button _ngcontent-xcd-c67="" matripple="" class="mat-ripple travel-mode-btn" (click)="changeTravelMode(this, 'transit')">
                    <div _ngcontent-xcd-c67="" class="button-inner">
                        <mat-icon _ngcontent-xcd-c99="" role="img" class="mat-icon notranslate material-icons-round mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">tram</mat-icon>
                    </div>
                </button>
                <div _ngcontent-xcd-c67="" class="label ng-star-inserted"><span _ngcontent-xcd-c99="" tgm-label="">Transit</span></div>
            </div>
            <div class="tgm-simple-button ng-star-inserted">
                <button _ngcontent-xcd-c67="" matripple="" class="mat-ripple travel-mode-btn" (click)="changeTravelMode(this, 'car')">
                    <div _ngcontent-xcd-c67="" class="button-inner">
                        <mat-icon _ngcontent-xcd-c99="" role="img" class="mat-icon notranslate material-icons-round mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">directions_car</mat-icon>
                    </div>
                </button>
                <div _ngcontent-xcd-c67="" class="label ng-star-inserted"><span _ngcontent-xcd-c99="" tgm-label="">Car</span></div>
            </div>
            </div>
        </div>


    </div>
</div>