<modal [isVisible]="isVisible" (closeClicked)="onClose()" name="Settings">
    <div class="settings-row">
        <div class="option">
            <span class="subtitle">Travel Mode:</span>
            <div class="ng-star-inserted tgm-traveltype-select">
                <div class="loop-overlay-individual-select ng-star-inserted">
                    <option-btn (clicked)="changeTravelMode('walk')" iconName="directions_walk" name="Walk"></option-btn>
                    <option-btn (clicked)="changeTravelMode('bike')" iconName="directions_bike" name="Bike"></option-btn>
                    <option-btn (clicked)="changeTravelMode('transit')" iconName="tram" name="Transit"></option-btn>
                    <option-btn (clicked)="changeTravelMode('car')" iconName="directions_car" name="Car"></option-btn>
                </div>
            </div>
        </div>
        <div class="option" style="margin-right: auto; margin-left: auto;">
            <span class="subtitle">Maximum Travel Time:</span>
            <mat-slider min="60" max="1800" step="60" value="1800" (change)="onMaxTravelChanged($event)"></mat-slider>
            <span style="padding-left: 1rem;">{{ this.qualityService.maxTravel/60 | number:'1.0-0' }} minutes</span>
        </div>
    </div>
    <div>
        <div class="option" style="width: 100%;">
            <span class="subtitle">Selected POIs:</span>
            <div class="pois-container">
                <poi-accordion [poiList]='this.qualityService.fakePoi'></poi-accordion>
            </div>
            <!--<div class="poi-card clickable" *ngFor="let poi of this.qualityService.selectedPOITypes">
                <span class="poi-type">{{ poi.type }}</span>
                <span class="poi-name">{{ poi.name }}</span>
            </div>-->
        </div>
    </div>
    <div class="option" style="width: 100%;">
        <div class="control-buttons">
            <button (click)='onSave()' class="standard-button">Save</button>
        </div>
    </div>
</modal>
