
/* Slider */
::ng-deep .mat-accent .mat-slider-thumb {
  background-color: black;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: black;
}

/* POI cards */
.poi-card {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #f2f4f4;
  margin-bottom: 1rem;
}

.poi-card:hover {
  background-color: var(--hover);
}

.poi-type {
  font-weight: bold;
  padding-right: 2rem;
  width: 120px;
}

.option {
  padding: 1rem;
}

.settings-row {
  display: flex;
}

.subtitle {
	margin-bottom: .5rem;
	margin-top: 1rem;
	display: block;
}

.pois-container {
  overflow-y: auto;
  max-height: 450px;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.control-buttons {
	float: right;
	margin-bottom: 1rem;
	margin-right: 2rem;
}